header {
    display: flex;
    justify-content: space-between;
    background-color: #7C5E99;
    padding: 10px 20px;
    border-bottom: 10px solid #000;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    font-family: "Fira Code", Arial, monospace, sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #FFF;
    margin-right: 30px;
}

a::before {
    content: " ";
    background-color: #F25A70;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button {
    display: inline-block;
    padding: 20px;
    background-color: #F25A70;
    box-shadow: 5px 5px 0 #000;
    margin-right: 15px;
    transition: transform 100ms linear;
}

#button:hover {
    transform: scale(1.08);
}