.button {
    display: inline-block;
    padding: 20px;
    background-color: #F25A70;
    box-shadow: 5px 5px 0 #000;
    margin-right: 15px;
    transition: transform 100ms linear;
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
}

.button:hover {
    transform: scale(1.08);
}